.navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list-link {
  font-size: 18x;
  padding: 20px 0;
}

.navbar__list-link--golden {
  color: #FFC800;
}

.navbar__list-link--logo {
  font-weight: 700;
  font-size: 19px;
}

.navbar__list-link--logo span {
  color: #FFC800;
  font-size: 20px;
}